.citemwrap {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: #{100%/$mirrorratio}; 
}

.citem {
    position: absolute;
    left:0; top:0;
    width:100%; height:100%;
    background-color: #fff;

    > img, > video {

        height: 100%;
        width:100%;
        object-fit: cover;
    }
}

.citem__links {
    position: absolute;
    z-index: 2;
    left:0; top:0;
    width:100%; height:100%;

    display: grid;
    grid-template-columns: $mirrormargin 33.333333% #{16.666667% - $mirrormargin*2} $mirrormargin $mirrormargin #{16.666667% - $mirrormargin*2} 33.333333% $mirrormargin;
    grid-template-rows: #{$mirrormargin*$mirrorratio} #{100% - $mirrormargin*$mirrorratio*2} #{$mirrormargin*$mirrorratio};

    a {
        display: block;
        grid-column: 1 / span 8;
        grid-row: 1 / span 3;
        
        &.left {
            grid-column: 1 / span 4;
            grid-row: 1 / span 3;
            &.wide {
                grid-column-end: span 6;
            }
            &.narrow {
                grid-column-end: span 2;
            }
        }

        &.right {
            grid-column: 5 / span 4;
            grid-row: 1 / span 3;
            &.wide {
                grid-column-start: 3;
                grid-column-end: span 6;
            }
            &.narrow {
                grid-column-start: 7;
                grid-column-end: span 2;
            }
        }
    }
}

.citem__loops {
    position: absolute;
    z-index: 1;
    left:0; top:0;
    width:100%; height:100%;

    display: grid;
    grid-template-columns: $mirrormargin #{100% - $mirrormargin*2} $mirrormargin;
    grid-template-rows: #{$mirrormargin*$mirrorratio} #{100% - $mirrormargin*$mirrorratio*2} #{$mirrormargin*$mirrorratio};

    > * {
        display: block;
        grid-column: 1 / span 3;
        grid-row: 1 / span 3;

        height: 100%;
        width: auto;

        // object-fit: contain;


        &.left {

        }

        &.right {
            justify-self: end;
        }

        &.hasmargin {
            grid-column: 2 / span 1;
            grid-row: 2 / span 1;
        }
    }

}

.desktopportfoliojump {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    line-height: 1;
    font-size: calc(.75rem + .5vw);
    color: inherit;
    // height: 42vw;
    height: calc(98vh - 8.5rem);
    max-height: 48vw;
    width:17rem;
    // background-color: red;
    color:inherit;
    &:hover, &:focus {
        // background-color: rgba(#000,.025);
        color:inherit;
        color: $primary-color;
        // text-decoration: underline;
    }
}

// .slick-slide.slick-current .citem figure a {
//     cursor: crosshair;
// }

// .slick-slide figure a {
//     cursor: pointer;
// }

