.ccwrap {
    // position: relative;
    // display: flex;
    display: flex;
    min-height: calc(100vh - 5.5rem);
}
.carouselwrap {
    position: relative;
    margin:auto 0;
    width: 100%;

    // min-height: calc(100vh - 5.5rem)
}
.carouselstatus {
    margin:1rem 0;
    width:100%;
    padding:.5vw 10% .25vw;
    text-align: center;
    color:$darker-gray2;

    font-size: .875rem;
    line-height: 1;
    // text-shadow: 0 0 2rem rgba(#fff,.5);
    letter-spacing: .05em;
    // font-style: italic;
    // font-family: $serif-font-family;
    // font-weight: $fw-regular;
    transition: all .4s linear;
    opacity: 1;

    @media screen and (min-width: 110em) {
        // margin-top:18.5rem;
    }

    em {

        font-style: italic;
        font-family: $serif-font-family;
        font-weight: $fw-regular;
        font-size: 93.75%;
    }

    &.willchange {
        opacity: 0;
        // cursor: pointer;
        // transform: translateY(.125em);
    }
    cursor:pointer;
    
}

.homecarousel {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 1.666rem .333rem rgba(#000, 0.1);

    // transition: transform .4s ease-in;
    // transform: translate3d(0, 0, 0);
    // overflow: visible;

    &.slick-slider {
        user-select: initial;
    }

    .slick-list {
        // overflow: visible;
    }

    .slick-track {
        transition: transform 300ms cubic-bezier(.06,.84,.19,.9) 0s;
    }
    .slick-slide {
        // margin: 0 .333vw;
        line-height: 0;
    }
}

.navcarousel {
    background-color: $body-background;
    width:100%;
    padding: .25vw 0;

    @include breakpoint(tablet) {

    }

    @media screen and (min-width: 110em) {

    }

    .slick-slide {
        margin: 0 .125vw;
        outline:none;
        line-height: 0;
    }
    figure {
    }
    a {
        outline: none;
    }
    img {
        max-height: 5rem;
        height: calc(1.5rem + 2vw);
        // min-height: 5rem;
        max-width: none;
        width: auto;
        opacity: .333;
        display: block;
        
    }
    .slick-current img {
        opacity: 1;
    }
}