<aside class="reveal mobilemodal" id="mobilemodal" data-reveal data-animation-in="scale-in-down fast" data-animation-out="scale-out-up fast">
    <div class="mobilemodal__inner">
        <nav class="mobilemodal__mainnav">
            <a class="mobilemodal__brand" href="https://brickvisual.com/">
                <img src="{{root}}assets/img/brick.svg" alt="Brick Visual">
            </a>
            <ul class="menu accordion-menu menu--mobilemain" data-accordion-menu><li class="menu-item menu-about"><a href="https://brickvisual.com/about/">About</a></li>
                <li class="menu-item menu-works"><a href="https://brickvisual.com/portfolio/">Works</a></li>
                <li class="menu-item menu-services"><a href="https://brickvisual.com/services/">Services</a></li>
                <li class="menu-item menu-newsroom"><a href="https://brickvisual.com/newsroom/">Newsroom</a></li>
                <li class="menu-item menu-academy"><a href="https://brickvisual.com/academy/">Academy</a></li>
                <li class="menu-item menu-contact"><a href="https://brickvisual.com/contact/">Contact</a></li>
            </ul>        
        </nav>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</aside>
