<footer class="sitefooter paceshow" role="contentinfo">
    <div class="grid-container ">
        <div class="grid-x grid-margin-x align-middle">
            <div class="cell small-12 tablet-shrink text-center tablet-text-left">
                <p>
                    &copy; 2012-2019 Brick Visual Solutions Zrt. All Rights Reserved.
                    <a href="#">Privacy Policy</a>
                </p>
            </div>
            <div class="cell small-12 tablet-auto text-center tablet-text-right fcopy">
                <ul class="sitefooter__social">
                    <li>
                        <a target="_blank" href="https://www.facebook.com/BrickVisual">
                            <svg class="icon"><use xlink:href="#icon-facebook"></use></svg>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.instagram.com/brickvisual/">
                            <svg class="icon"><use xlink:href="#icon-instagram"></use></svg>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.youtube.com/user/BrickVisualMedia">
                            <svg class="icon"><use xlink:href="#icon-youtube"></use></svg>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://vimeo.com/brickvisual">
                            <svg class="icon"><use xlink:href="#icon-vimeo"></use></svg>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://twitter.com/brickvisual">
                            <svg class="icon"><use xlink:href="#icon-twitter"></use></svg>
                        </a>
                    </li>
                    <li>
                        <a
                            target="_blank"
                            href="http://www.linkedin.com/company/brick-visual?trk=hb_tab_compy_id_2615854"
                        >
                            <svg class="icon"><use xlink:href="#icon-linkedin"></use></svg>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.behance.net/Brickvisual">
                            <svg class="icon"><use xlink:href="#icon-behance"></use></svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
