<header class="banner aaapaceshow" data-sticky-container>
    <div class="banner__top" data-sticky data-sticky-on="small" data-options="marginTop:0;">
        <div class="grid-container" data-aos="fade-down" data-aos-delay="200">
            <div class="banner__toprow grid-x grid-margin-x align-middle align-justify">
                <div class="shrink cell">
                    <div class="banner__branding">
                        <a class="brand" href="{{root}}">
                            <img class="brand__fulllogo" src="{{root}}assets/img/brick_communicating_architecture.svg" alt="Brick Visual | Communicating Architecture">
                        </a>
                    </div>
                </div>
                <div class="auto cell show-for-tablet text-center">
                    <h3 class="banner__title"><a href="#" class="js-restartslideshow">Portfolio <span>2021</span></a></h3>
                </div>
                <div class="shrink cell">
                    <nav class="banner__nav">
                        <ul class="menu dropdown menu--main" data-dropdown-menu data-click-open="true" data-disable-hover="true">
                            <li class="menu-item accent"><a target="_blank" download href="{{root}}assets/img/brick_portfolio_2021.pdf"><svg class="icon"><use xlink:href="#icon-dl"></use></svg> Download PDF version</a></li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</header>


