<header class="banner paceshow" data-sticky-container>
    <div class="banner__top" data-sticky data-sticky-on="small" data-options="marginTop:0;">
        <div class="grid-container" data-aos="fade-down" data-aos-delay="200">
            <div class="grid-x grid-margin-x align-middle">
                <div class="auto cell">
                    <div class="banner__branding">
                        <a class="brand" href="{{root}}">
                            <img class="brand__fulllogo" src="{{root}}assets/img/brick_communicating_architecture.svg" alt="Brick Visual | Communicating Architecture">
                        </a>
                    </div>
                </div>
                <div class="shrink cell show-for-large">
                    <nav class="banner__nav">
                        <ul class="menu dropdown menu--main" data-dropdown-menu data-click-open="true" data-disable-hover="true"><li class="menu-item menu-about"><a href="https://brickvisual.com/about/">About</a></li>
                            <li class="menu-item menu-works"><a href="https://brickvisual.com/portfolio/">Works</a></li>
                            <li class="menu-item menu-services"><a href="https://brickvisual.com/services/">Services</a></li>
                            <li class="menu-item menu-newsroom"><a href="https://brickvisual.com/newsroom/">Newsroom</a></li>
                            <li class="menu-item menu-academy"><a href="https://brickvisual.com/academy/">Academy</a></li>
                            <li class="menu-item menu-contact"><a href="https://brickvisual.com/contact/">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="shrink cell hide-for-large">
                    <button class="menutoggler" type="button" style="margin-top:0" data-toggle="mobilemodal"></button>
                </div>
            </div>
        </div>
    </div>
</header>
