<div class="paceshow">
    <div class="carouselwrap">
        <button type="button" class="slick-arrow slick-prev"><svg class="icon">
                <use xlink:href="#icon-caret-left"></use>
            </svg></button>
        <div class="grid-container stretched">
            <div class="homecarousel slick-slider">
                {{#each slides}}
                <div class="citemwrap">
                    <div class="citem">
                        {{#each this}}
                        <div class="{{ class }}">
                            {{#if copy}}
                                <a href="#">
                                    <img src="{{ copy }}?text={{ title }}" alt="{{ title }}">
                                </a>
                            {{/if}}
                            {{#unless copy}}
                                {{#if video}}
                                    <a href="#">
                                        <video muted loop preload poster="{{root}}assets/img/slides/{{ img }}">
                                            <source src="{{root}}assets/img/slides/{{ video }}" type="video/mp4">
                                            <source src="{{root}}assets/img/slides/medium/{{ video }}" type="video/mp4" media="all and (max-width: 1024px)">
                                        </video>
                                    </a>
                                {{/if}}
                                {{#unless video}}
                                    {{#if vimeo}}
                                    <a class="videolink" href="{{ vimeo }}">    
                                        <img src="{{root}}assets/img/slides/medium/{{ img }}" alt="{{ title }}"
                                        srcset="{{root}}assets/img/slides/{{ img }} {{ img_width }}w">
                                    </a>
                                    {{/if}}
                                    {{#unless vimeo}}
                                    <a href="#">    
                                        <img src="{{root}}assets/img/slides/medium/{{ img }}" alt="{{ title }}"
                                        srcset="{{root}}assets/img/slides/{{ img }} {{ img_width }}w">
                                    </a>
                                    {{/unless}}
                                {{/unless}}
                            {{/unless}}
                        </div>
                        {{/each}}
                    </div>
                </div>
                {{/each}}
                <div class="citemwrap">
                    <div class="citem">
                        <div>
                            <a class="desktopportfoliojump" href="https://brickvisual.com/portfolio/">+ more works</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="slick-arrow slick-next">
            <svg class="icon">
                <use xlink:href="#icon-caret-right"></use>
            </svg>
        </button>
    </div>

    <div class="navcarousel">
        {{#each slides}}
        <div>
            <figure>
                <img src="https://via.placeholder.com/600x203/9b9b9b/ffffff?text=thumb+0{{ @index }}">
            </figure>
        </div>
        {{/each}}
        <div>
            <figure>
                <img width="1000" height="1000" src="{{root}}assets/img/more.svg" alt="">
            </figure>
        </div>
    </div>
</div>