<div class="paceshow">
    <div class="carouselwrap">
        <button type="button" class="slick-arrow slick-prev"><svg class="icon">
                <use xlink:href="#icon-caret-left"></use>
            </svg></button>
        <div class="grid-container stretched">
            <div class="homecarousel slick-slider">
                {{#each theslides}}
                <div class="citemwrap">
                    <div class="citem">
                        <img 
                            src="{{root}}assets/img/slides/medium{{ slide }}" alt="{{ slide }}"
                            srcset="
                                {{root}}assets/img/slides/{{ slide }} 3307w,
                                {{root}}assets/img/slides/small/{{ slide }} 640w
                            "
                        >
                        <div class="citem__loops">
                            {{#each loops}}
                            <video class="{{ pos }}" poster="{{root}}assets/img/loopsandposters/{{ poster }}" muted loop >
                                <source src="{{root}}assets/img/loopsandposters/{{ video }}" type="video/mp4">
                                <source src="{{root}}assets/img/loopsandposters/medium/{{ video }}" type="video/mp4" media="all and (max-width: 1024px)">
                            </video>
                            {{/each}}
                        </div>
                        <div class="citem__links">
                            {{#each targets}}
                            <a href="{{ target }}" class="{{ hotspot }}"></a>
                            {{/each}}
                        </div>
                    </div>
                </div>
                {{/each}}
                <div class="citemwrap">
                    <div class="citem">
                        <div>
                            <a class="desktopportfoliojump" href="https://brickvisual.com/portfolio/">+ more works</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="slick-arrow slick-next">
            <svg class="icon">
                <use xlink:href="#icon-caret-right"></use>
            </svg>
        </button>
    </div>

    <div class="navcarousel">
        {{#each theslides}}
        <div>
            <figure>
                <img src="{{root}}assets/img/slides/small/{{ slide }}" alt="{{ slide }}">
            </figure>
        </div>
        {{/each}}
        <div>
            <figure>
                <img width="1000" height="1000" src="{{root}}assets/img/more.svg" alt="">
            </figure>
        </div>
    </div>
</div>